<div class="about">
<h1>What is MacOfAllTrades?</h1>
<article class="about-info">
  <%= link_to image_tag("about.png", alt: "Buy stuff", size: "256x256"), items_path %>
  <p><br></p>
  <h2>A Place to Buy & Sell All Things Mac</h2>
  <br>
  <p>
    We provide auction services to buy or sell Mac products with ease. Simply Login/ Sign Up and start bidding!
  </p>
</article>
</div>